<table class='team-table'>
    <tr>
        <td><img class='im-person' src='assets/peter.jpg' alt='Peter'></td>
        <td><img class='im-person' src='assets/qi.jpg' alt='Qi'></td>
        <td><img class='im-person' src='assets/damien.jpg' alt='Damien'></td>
        <td><img class='im-person' src='assets/jake.jpg' alt='Jake'></td>
        <td><img class='im-person' src='assets/mark.jpg' alt='Mark'></td>
    </tr>
    <tr>
        <td><a href='http://www.panderson.me/'>Peter Anderson</a> <br> Australian National University </td>
        <td><a href='http://www.qi-wu.me/'>Qi Wu</a> <br> University of Adelaide </td>
        <td><a href='https://www.damienteney.info/'>Damien Teney</a> <br> University of Adelaide </td>
        <td><a href='https://satwikkottur.github.io/'>Jake Bruce</a> <br> Queensland University of Technology </td>
        <td><a href='http://web.science.mq.edu.au/~mjohnson/'>Mark Johnson</a> <br> Macquarie University </td>
    </tr>
    <tr>
        <td><img class='im-person' src='assets/niko.jpg' alt='Niko'></td>
        <td><img class='im-person' src='assets/ian.jpg' alt='Ian'></td>
        <td><img class='im-person' src='assets/steve.jpg' alt='Steve'></td>
        <td><img class='im-person' src='assets/anton.jpg' alt='Anton'></td>
    </tr>
    <tr>
        <td><a href='http://nikosuenderhauf.info/'>Niko Sünderhauf</a> <br> Queensland University of Technology </td>
        <td><a href='https://cs.adelaide.edu.au/~ianr/'>Ian Reid</a> <br> University of Adelaide </td>
        <td><a href='http://users.cecs.anu.edu.au/~sgould/'>Stephen Gould</a> <br> Australian National University </td>
        <td><a href='https://cs.adelaide.edu.au/~hengel/'>Anton van den Hengel</a> <br> University of Adelaide </td>
    </tr>
</table>
